<div class="task-tabs">
    <div id="under-line"></div>
         <div id="all">
         <a href="#" id="all">모두</a>
        </div>
    <div id="ongoing">
        <a href="#" id="ongoing">진행중</a>
    </div>
    <div id="done">
        <a href="#" id="done">완료</a>
    </div>
</div>