<div class="container">
        <h1>Todo List</h1>
        <section class="input-area">
            <%= form_with(model: Post.new, url: "/home/create", id: "input_form", method: "post", local: true) do |form| %> 
                <input type="text" id = "text-input" name= "content"/>
                <button type="submit" id ="add-button">+</button>
            <% end %>
        </section>
        <section class="task-area" id="task-area">
            <%= turbo_frame_tag 'task_tabs' do %>
                <%= render "/home/tasks-partial" %>
 
            <% end %>
            <div id = "task-board">
                <% @posts.each do |post| %>
                    <div><%= post.content %></div>
                <% end %>
            </div>
        </section>
    </div>
